html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(2,62,93);
background: linear-gradient(90deg, rgba(2,62,93,1) 0%, rgba(20,159,255,1) 100%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: 16px 15px 15px -3px rgba(0,0,0,0.2);
  background-color: #fff;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 5px;
  border-radius: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
